# R / RStudio
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Jupyter
.ipynb_checkpoints/
Untitled*.ipynb
db2pq/Untitled*.ipynb
db2pq/wrds_to_pq.ipynb

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Build artifacts
build/
dist/
